@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

body {
    overflow: hidden;
}

li {
    list-style: none;
}

#hero {
    height: 335px;
    width: 100%;
    /* background-color: #f3efa7; */
    background-color: #2b2b2b;
    overflow: hidden;
}

#hero .heading {
    display: flex;
    color: white;
    justify-content: center;
    font-family: Satisfy;
    padding-top: 30px;
    font-size: 40px;
    margin-bottom: 10px;
}


/* #navbar {
    display: flex;
    justify-content: center;
}



#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    border-radius: 12px;
    font-size: 23px;
    font-family: poppins;
    font-size: 20px;
    overflow: hidden;
    transition: 0.7s all;
    position: relative;
    padding: 15px;
    border-radius: 12px;
    display: inline-block;
}

#navbar .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px;
} */

.navbar {
    height: 10vh;
    width: 40%;
    margin: auto;
    display: flex;
    background-color: rgba(0, 0, 255, 0);
    justify-content: space-around;
    align-items: center;
}

button {
    font-family: poppins;
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    transition: 0.5s;
    border-radius: 10px;
    color: white;
}

button:hover {
    background-color: rgb(206, 238, 130);
    transition: 0.5s;
    color: black;
    border-radius: 10px;
}

.work {
    position: relative;
}

.work ul {
    margin-top: 10px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    background: white;
    left: -5px;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    font-family: poppins;
}

.work li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work li:hover:first-child {
    background-color: rgb(197, 173, 181);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.work li:hover:last-child {
    background-color: rgb(197, 173, 181);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.work a {
    color: black;
    text-decoration: none;
}

.work ul li:first-child {
    border-bottom: 1px solid rgba(204, 204, 204, 0.418);
}

.work button:focus+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}